*,
html,
body {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}

:root {
   --bg-primary: palevioletred;
   --bg-secondary: pink;
   --txt-primary: #ffff;
   --txt-secondary: #2222;

}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-secondary);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex: wrap;
    width: 100%;
    background-color: var(--bg-secondary);
   color: var(--main-bg);
   
}

.card {
    border: 2px solid var(--bg-primary);
    color: var(--txt-primary);
    padding: 32px;
    margin: 8px;
    border-radius: 8%;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}
.title {
    font-size: 2em;
}

.description {
    font-size: .5em;
    margin-top: 10px;
}

.icons {
    font-size: 24px;
    color: var(--bg-primary);
    margin-top: 10px;
}

.btn {
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
    font-weight: 700;
    color: var(--bg-primary);
    border-radius: 8%;
}

.btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    
}

/* responsive */

@media only screen and (max-width: 600px) {
    .container {
        height: 100%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 16px;
        width: 80%;
    }

    .title, .description, .icons {
        font-size: 1.2em;
    }

    .btn {
        font-size: 1em;
    }
}